@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* background-color: black; */
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}
.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section img{
    width: 46%;
    padding-left: 16px;
}
.mid-section {
    display: flex;
    align-items: center;
    margin: -9%;
    cursor: pointer;
}
.mid-section form {
    display: flex;
    height: 40px;
    width: 628px;
}
.mid-section input{
    display: flex;
    width: 100%;
    border-radius: 20px 0 0 20px;
    padding: 12px;
    font-size: 1.6rem;
    border: 1px solid #d3d3d3;
    border-right: none;
}
.mid-section button{
    width: 64px;
    border: 1px solid #d3d3d3;
    border-radius: 0px 2 2 0;
    padding-top: 4px ;
    cursor: pointer;
}
.mid-section button:hover{
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}
.mid-section .mic {
    background-color: rgb(241, 244, 238);
    width: 49px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.right-section a {
    padding-right: 18px;
    text-decoration: none;
    color: black;
}
